{% extends 'base.html.twig' %}
{% import '_macros/alert.html.twig' as Alert %}

{% block title %}Super page d'accueil{% endblock %}

{% block body %}

    {{ Alert.alert('Les smileys ont bien été convertit', 'info') }}

    <div id="container">
        <p class="smileyP">{{ "phrase normal :-)" | smiley }}</p>
        <p class="smileyP">{{ ";-) " | smiley }}</p>
        <p class="smileyP">{{ "oh je suis etonné :-O" | smiley }}</p>
        <p class="smileyP">{{ "smiley pas mit ><'" | smiley }}</p>
        <p class="smileyP">{{ ":-|" | smiley }}</p>
        <p class="smileyP">{{ "trop marrant :-D" | smiley }}</p>
    </div>
    <img src="{{ asset('build/images/waterfall.jpg') }}" alt="image d'une cascade">
    <p id="credit">Image par <a href="https://pixabay.com/fr/users/stocksnap-894430/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2584266">StockSnap</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2584266">Pixabay</a></p>

{% endblock %}